<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>withoutSignalingServer</title>
</head>
<body>
    <video id="video1" width="200" height="200" controls></video>
    <video id="video2" width="200" height="200" controls></video>

    <div>
        <button id="startButton">Start</button>
        <button id="callButton">Call</button>
        <button id="hangupButton">Hang Up</button>
    </div>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="/javascripts/webrtc/withoutSignalingServer/main.js"></script>
</body>
</html>